body{
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  top: 35%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.titulo{
    font-weight: 500;
    color: rgba(58, 58, 230, 0.767);
    font-size: 3rem;
}
.contador{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.separator{
  padding: 0 10px;
  color: #525763;
}

.digitos{
  font-size: 2.5rem;
  color: #172953;
  margin: 2rem 3rem
}
.mili{
  position: top;
  font-size: 1.5rem;
  color: #172953;
}
.botoes{
  display: flex;
  gap: 3.5rem ;
}

input{
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: all 0.2s ease-in-out;
  
}

input:hover{
  color: aqua;
  background-color: black;
}